@import "tailwindcss";

@utility container {
  @apply  max-w-[389px] mx-auto sm:max-w-[610px] md:max-w-[730px] lg:max-w-[990px]  xl:max-w-[1150px] ;
}

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-primaryText: #1F2A37;
  --color-secondaryText: #8899A8;
  --color-midnightGreen:#0C4B54;
  --color-Gray1:#F3F3F3;
  --color-Green2:#CEDBDD;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Sort */




